@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&family=Playpen+Sans:wght@300;400;500;600;700&display=swap");
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }

  /* Custom Scroll Bar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #1a8efd;
    border-radius: 4rem;
  }
}
