body {
    background-color: rgb(153, 218, 196);
}
.layout {
    width: 600px;
    margin: auto;
}
.accordion {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(105, 206, 105);
    border-radius: 10px;
}
.accordion__question p {
    margin: 5px;
    padding: 0;
    font-family: Verdana;
    font-size: 20px;
}
.accordion__answer p {
    margin: 5px;
    padding: 10px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    background: rgb(82, 170, 122);
    border-radius: 10px;
}
.accordion:hover {
    cursor: pointer;
}
.accordion__answer {
    display: none;
}
.accordion.active .accordion__answer {
    display: block;
}